<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="vn.edu.nhasachphuongnam">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".ThongTinActivity"></activity>
        <activity android:name=".ThongKeActivity" />
        <activity
            android:name=".UserScreen.Recover_PassActivity"
            android:theme="@style/FullScreen" />
        <activity
            android:name=".UserScreen.Infor_UserActivity"
            android:parentActivityName=".UserScreen.UserActivity" />
        <activity
            android:name=".UserScreen.List_UserActivity"
            android:parentActivityName=".UserScreen.UserActivity" />
        <activity
            android:name=".UserScreen.Add_User2Activity"
            android:parentActivityName=".UserScreen.UserActivity" />
        <activity
            android:name=".UserScreen.Add_UserActivity"
            android:parentActivityName=".UserScreen.UserActivity" />
        <activity android:name=".UserScreen.UserActivity" />
        <activity
            android:name=".InventoryScreen.List_InventoryActivity"
            android:parentActivityName=".InventoryScreen.InventoryActivity" />
        <activity
            android:name=".InventoryScreen.Add_Inventory2Activity"
            android:parentActivityName=".InventoryScreen.InventoryActivity" />
        <activity
            android:name=".InventoryScreen.Add_InventoryActivity"
            android:parentActivityName=".InventoryScreen.InventoryActivity" />
        <activity android:name=".InventoryScreen.InventoryActivity" />
        <activity
            android:name=".AddTopBookActivity"
            android:parentActivityName=".BookBestSellActivity" />
        <activity
            android:name=".BillScreen.Lists_BillActivity"
            android:parentActivityName=".BillScreen.SellBillActivity" />
        <activity
            android:name=".BillScreen.Adds_Bill2Activity"
            android:parentActivityName=".BillScreen.SellBillActivity" />
        <activity
            android:name=".BillScreen.Adds_BillActivity"
            android:parentActivityName=".BillScreen.SellBillActivity" />
        <activity android:name=".BillScreen.SellBillActivity" />
        <activity
            android:name=".BillScreen.ListBillActivity"
            android:parentActivityName=".BillScreen.InsertBillActivity" />
        <activity
            android:name=".BillScreen.AddBill2Activity"
            android:parentActivityName=".BillScreen.InsertBillActivity" />
        <activity
            android:name=".BillScreen.AddBillActivity"
            android:parentActivityName=".BillScreen.InsertBillActivity" />
        <activity android:name=".BillScreen.InsertBillActivity" />
        <activity
            android:name=".AddBookActivity"
            android:parentActivityName=".HomeActivity" />
        <activity
            android:name=".RegistraionScreen.RegistraionDKActivity"
            android:label="@string/dangky"
            android:parentActivityName=".SplashActivity"
            android:theme="@style/Registraion" />
        <activity
            android:name=".RegistraionScreen.RegistraionCActivity"
            android:label="@string/nhapmatkhau"
            android:parentActivityName=".SplashActivity"
            android:theme="@style/Registraion" />
        <activity
            android:name=".RegistraionScreen.RegistraionBActivity"
            android:label="@string/nhapten"
            android:parentActivityName=".SplashActivity"
            android:theme="@style/Registraion" />
        <activity
            android:name=".RegistraionScreen.RegistraionAActivity"
            android:label="@string/nhapemail"
            android:parentActivityName=".SplashActivity"
            android:theme="@style/Registraion" />
        <activity
            android:name=".RegistraionScreen.RegistraionActivity"
            android:label="@string/nhapsdtinput"
            android:parentActivityName=".SplashActivity"
            android:theme="@style/Registraion" />
        <activity android:name=".BookBestSellActivity" />
        <activity android:name=".BookActivity" />
        <activity android:name=".HomeActivity" />
        <activity
            android:name=".SplashActivity"
            android:screenOrientation="portrait"
            android:theme="@style/FullScreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>